@tailwind utilities;
@import url('../styles/theme.css');

:root {
  --primary: #ff7b29;
}

@layer utilities {
  body {
    overflow-x: hidden;
  }

  .underline-link::before {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--primary);
    opacity: 0;
    transform: scale(0);
    transform-origin: left;
    transition: all 0.3s linear;
  }

  .underline-link:hover::before {
    opacity: 1;
    width: 100%;
    transform: scale(1);
  }

  .burger::after,
  .burger::before {
    content: '';
    background-color: #222;
    display: block;
    height: 2px;
    width: 50%;
    margin: auto;
    position: relative;
    transition: transform 0.3s;
    z-index: 100;
  }

  .burger::after {
    top: -5px;
  }

  .burger::before {
    top: 5px;
  }

  .burgerActive::after {
    transform: rotate(45deg);
    top: -1px;
  }

  .burgerActive::before {
    transform: rotate(-45deg);
    top: 0px;
  }

  .abs-img {
    transform: scale(1);
    animation: scaleUp 1s linear infinite alternate;
  }

  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }

  .custom-scrollbar {
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 0px;
    border-radius: 2px;
  }

  .text-gradient {
    letter-spacing: 0.1rem;
    color: transparent;
    background-image: linear-gradient(#e63d3d, #e7e74c);
    background-clip: text;
    -webkit-background-clip: text;
  }

  .section-divider::before,
  .section-divider::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-repeat: repeat no-repeat;
    background-position: bottom;
  }

  .bg {
    background-image: url('/png/home-assets/blur.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 400px;
    border-radius: 100%;
    opacity: 0.5;
  }

  .footer {
    overflow: hidden;
  }

  .footer-top {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    border-block-end: 2px solid hsla(245, 17%, 29%, 0.3);
  }

  .footer-top::after {
    content: url('/svg/delivery-boy.svg');
    position: absolute;
    bottom: -11px;
    left: -160px;
    width: 160px;
    animation: running-cycle 20s linear infinite;
  }

  @keyframes running-cycle {
    0% {
      left: 0;
    }
    100% {
      left: 100%;
    }
  }

  .footer-top .container {
    display: grid;
    gap: 30px;
  }

  .footer-bottom {
  padding-block: 20px;
  text-align: center;
}

.copyright-link { display: inline-block; }

.copyright-link:is(:hover, :focus) { text-decoration: underline; }
}
